:root {
    --main-font: font-family: 'Roboto', sans-serif;
    --secondary-font: font-family: 'Raleway', sans-serif;
    --main-color: #2196F3;
}
body {
    font-family: var(--main-font);
    color: #212121;
} 


/* ########### MENU ############## */
.menu-logo-item
{
    font-weight: bold;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: var(--main-color);
}

.navigation-list-link {
font-weight: 500;
font-size: 14px;
line-height: 1.142;
letter-spacing: 0.02em;
color: #212121;
}

.navigation-list-link:hover,
.navigation-list-link:focus {
    color: var(--main-color);
}
.menu-mail,
.menu-phonenumber {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #757575;
}
.menu-mail:hover,
.menu-phonenumber:hover {
    color: var(--main-color);
}

/* ########### END MENU ############## */


/* ########### HEDER ############## */
.header{
    background: #2F303A;
    ;
}
.header-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.333;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}
.header-btn {
font-weight: bold;
font-size: 16px;
line-height: 30px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
color: #212121;
background: #F5F4FA;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
}
.header-btn:hover,
.header-btn:focus {
background: var(--main-color);
color: #FFFFFF;

}
/* ########### END HEDER ############## */

/* ########### MAIN ############## */

.strengths-title {
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
}
.strengths-about {
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #757575;
}
.whatwedo-title,
.ourteam-title {
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
}


/* ########### END MAIN ############## */




/* ########### FOOTER ############## */
.address {

    font-style: normal;
}

/* ########### END FOOTER ############## */