:root {
    --main-font: font-family: 'Roboto', sans-serif;
    --secondary-font: font-family: 'Raleway', sans-serif;
    --main-color: #2196F3;
}
body {
    font-family: var(--main-font);
} 
/* ########### HEDER ############## */
.header{
    background: #2F303A;
    ;
}
.header-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}



/* ########### HEDER ############## */